
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <div>
    <label>User Name</label>
    <input type="text" formControlName="name"/>
  </div>

  <div>
    <label>User email</label>
    <input type="text" formControlName="email"/>
  </div>

  <button type="submit">Add User</button>

</form>
